body
{
	background: #111111;
	margin: 0;
	text-align: center;
}

h1
{
	text-align: left;

	font-size: larger;
}

h2
{
	font: bold 150% Arial;
	color: #333;
}

body > h1 {
	-webkit-border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;

	border: thick solid #eee;
	border-top: none;
	
	color: #14722C;
	font: bold small-caps 300% Verdana, Geneva, sans-serif;
	
	background-color: #43CA3A;
	text-align: center;
	display: inline-block;
	margin: auto;
	padding: 0.3em 0.7em;
	margin-bottom: 0.7em;
}

div#controls_top button
{
	font: bold 150% Arial;
	color: #333;
	
	margin: 0.2em 1em;
	height: 2em;
	width: 15em;
	
	border: medium solid #eee;
	border-radius: 5px;

	background-color: #67E46F;
}

div#controls_bottom
{
	margin: auto;
	margin-bottom: 3em;
	padding: 0;
	clear: both;
}

div#controls_bottom button
{
	font: bold 150% Arial;
	color: #333;
	
	margin: 0.2em 1em;
	height: 2em;
	width: 15em;
	
	border: medium solid #eee;
	border-radius: 5px;

	background-color: #57BAFF;
}

div.delete_button
{
	height: 16px;
	width: 16px;

	margin: 0 !important;
	
	float: right;
	
	cursor: pointer;
	
	z-index: 5;
	position: relative;
	top: 0.2em;
	right: 0.2em;

	background-image: url('../images/close-button.png');
}

#query_window .delete_button
{
	background-image: url('../images/close-button2.png');
	position: static;

	height: 36px;
	width: 36px;
}

img.thumbnail
{
	max-height: 8em;
	max-width: 8em;
}