body
{
	background-color: #D6D6D6;

	text-align: center;
}

h1
{
	text-align: left;

	font-size: larger;
}

div#visualise_canvas
{
	margin: 1em auto;
	padding: 0;

	text-align: center;

	width: 90%;
	height: 20em;

	border: medium solid black;
	border-radius: 5px;

	background-color: green;
}

div#media_box
{
	margin: 0 1em 1em;
	padding: 0;

	height: 10em;

	text-align: center;

	border: thin solid black;

	background-color: white;
}

div#media_canvas
{
	width: 95%;
	height: inherit;

	float: left;

	text-align: left;

	white-space: nowrap;

	overflow-x: auto;
	overflow-y: hidden;
	
	background-color: blue;
}

.media_element
{
	margin: .5em;
	padding: 0.5em;

	width: 8em;
	height: 8em;

	display: inline-block;
	
	border: thin dashed black;
	border-radius: 3px;

	background-color: orange;
}

div#media_controls
{
	width: 5%;
	height: inherit;

	float: right;

	background-color: red;
}

div#playlist
{
	margin: 1em auto;
	padding: 0;

	height: 15em;
	width: 65%;
	
	overflow-x: hidden;
	overflow-y: auto;

	text-align: center;

	border: thin dotted black;

	background-color: yellow;
}

div.delete_button
{
	height: 1em;
	width: 1em;
	
	float: right;
	
	cursor: pointer;
	
	background-color: red;
}