div#grey_out
{
	position: fixed;
	top: 0;
	left: 0;

	margin: 0;
	padding: 0;

	width: 100%;

	text-align: center;

	background-color: rgba(0,0,0,0.6);

	z-index: 1000;
}

div#query_window
{	
	margin: auto;
	margin-top: 10em;

	width: 25em;

	border: thin groove grey;
	border-radius: .5em;
	box-shadow: 5px 5px 5px black;

	background-color: rgb(206, 206, 202);

	z-index: 1001;

	position: relative;
}

#query_window div
{
	margin: 1em;
}

#query_window h1
{
	margin: 0;
	margin-bottom: 1em;
	padding: .2em;
	padding-left: 1em;
	border-bottom: thin solid grey;
	display: block;

	font: 120%/150% Arial;

	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
	
	background: rgb(191,210,85); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 6%, rgba(114,170,0,1) 12%, rgba(158,203,45,1) 79%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(6%,rgba(142,185,42,1)), color-stop(12%,rgba(114,170,0,1)), color-stop(79%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 6%,rgba(114,170,0,1) 12%,rgba(158,203,45,1) 79%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 6%,rgba(114,170,0,1) 12%,rgba(158,203,45,1) 79%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 6%,rgba(114,170,0,1) 12%,rgba(158,203,45,1) 79%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 6%,rgba(114,170,0,1) 12%,rgba(158,203,45,1) 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

div#dropArea
{
	border: medium dashed rgb(187, 187, 187);
	border-radius: 1em;

	padding: 2em;
	margin: 1em;

	text-align: center;

	color: rgb(187,187, 187);

	font-size: larger;
	font-family: sans-serif;
}
