.context_menu
{
	background-color: rgb(214,214,214);
	
	border: thin solid gray;

	padding: .2em;
}

.place
{
	padding: 1em 2em;
	margin: 1em;

	border: medium dashed rgb(187, 187, 187);
	border-radius: 1em;
	
	overflow: hidden;

	text-align: center;
}

.place input
{
	border: none;
	width: 7em;
		
	text-align: center;
	
	color: rgb(187,187, 187);
	
	font-size: x-large;
	font-family: sans-serif;
	font-weight: bold;

	background: none;
}
